<p id="notice"><%= notice %></p>

<h1>Experiment Details</h1>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment.description %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>

<h3>Steps</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @experiment.steps.each do |step| %>
      <%= content_tag :tr, id: "step_#{step.id}" do %>
        <td><%= step.name %></td>
        <td><%= (step.completed?) ? 'Complete' : 'Incomplete' %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
